@charset "UTF-8";
@media screen and (max-width: 1139px) {
  .header__content {
    display: none;
  }
}

@media screen and (min-width: 1140px) {
  .header__content {
    padding-right: 20px;
  }
}

.header__wrapper-humburger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 15px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-left: auto;
}

.header__menu {
  position: absolute;
  right: 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  z-index: 99999;
}

.header__content--mobile {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  padding: 0 24px 8px 10px;
}

@media screen and (min-width: 768px) and (max-width: 949px) {
  .header__content--mobile {
    padding: 0 24px 8px 10px;
  }
}

@media screen and (min-width: 1140px) {
  .header__menu {
    position: static;
    width: 100%;
  }
  .header__content--mobile {
    display: none;
  }
}

.header__container-logo,
.header__complicated-menu,
.header__wrapper,
.header__entrance {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1149px) {
  .header__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .header__entrance {
    display: none;
  }
}

.header__css-logo {
  padding-right: 12.5px;
}

.header__sign-in {
  margin-right: 20px;
}

@media screen and (min-width: 768px) and (max-width: 950px) {
  .content__sidebar {
    width: 100% !important;
  }
}

.rectangle__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 104px 140px 100px 140px;
}

.rectangle--in-around {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 26px 140px 26px 0;
}

.rectangle__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: normal;
      -ms-flex-pack: normal;
          justify-content: normal;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rectangle__label {
  padding-left: 12.5px;
}

.rectangle__description {
  padding-top: 20px;
}

.rectangle__copybox {
  padding-left: 140px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (min-width: 768px) and (max-width: 960px) {
  .rectangle__container {
    padding: 104px 24px;
  }
}

@media screen and (max-width: 767px) {
  .rectangle__container {
    display: block;
    padding: 104px 0;
    text-align: center;
  }
  .rectangle__container > div:last-child {
    margin-bottom: 0;
  }
  .rectangle--in-around {
    padding-right: 24px;
  }
  .rectangle__logo, .rectangle__description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .rectangle__mix, .rectangle__list {
    margin-bottom: 1rem;
  }
  .rectangle__copybox {
    padding-left: 24px;
  }
}

@media screen and (min-width: 768px) and (max-width: 950px) {
  .rectangle__container {
    min-width: -webkit-min-content;
    min-width: -moz-min-content;
    min-width: min-content;
    padding: 104px 0 104px 24px;
  }
  .rectangle__mix {
    margin-right: 5px;
  }
  .rectangle__list {
    margin-right: 10px;
  }
  .rectangle__list:last-child {
    margin-right: 0;
  }
  .rectangle__copybox {
    padding-left: 24px;
  }
}

@media screen and (min-width: 951px) and (max-width: 1149px) {
  .rectangle__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 104px 0;
  }
  .rectangle--in-around {
    padding-right: 24px;
  }
  .rectangle__copybox {
    padding-left: 24px;
  }
}

@media screen and (min-width: 1150px) and (max-width: 1399px) {
  .rectangle__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 104px 24px 100px 24px;
  }
  .rectangle--in-around {
    padding-right: 24px;
  }
  .rectangle--copybox {
    padding-left: 24px;
  }
}

.forward-list__wrapper {
  padding-bottom: 20px;
}

.space, .cm-card-body__relation, .cm-card-body__contain, .field__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cm-card-body__relation {
  padding: 0 17px 12px 20px;
}

.cm-card-body__contain {
  padding: 0 18px 0 20px;
}

.cm-card-body__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 20px 0 20.26px;
}

@media screen and (min-width: 951px) and (max-width: 1300px) {
  .cm-card-body__relation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 5px 3px 12px 3px;
  }
  .price__sum {
    padding-left: 4px;
    padding-right: 0;
  }
  .price__today {
    padding-left: 2px;
  }
}

@media screen and (min-width: 951px) and (max-width: 1149px) {
  .cm-card-body__user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    padding: 8px 20px 8px 20.26px;
  }
}

@media screen and (min-width: 1500px) and (max-width: 1300px) {
  .cm-card-body__user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}

.grid__content-wrapper {
  text-align: left;
  margin-right: 250px;
  padding-bottom: 21px;
}

@media screen and (max-width: 767px) {
  .grid__content-wrapper {
    margin: 0;
    padding: 21px 28px;
  }
}

@media screen and (min-width: 951px) and (max-width: 1300px) {
  .grid__content-wrapper {
    margin-right: 0;
  }
}

.complex-number__num {
  padding-right: 3px;
}

.complex-number__val {
  padding-right: 5px;
}

.price__sum {
  padding-right: 2px;
}

.reviews__target {
  padding-right: 5px;
}

/*Перенести в отдельный компонент*/
/*Начало блока стилей компонент "Поля"*/
/*
    Переименовать названия классов
    grid-complex -> grid
    grid -> grid__content
    grid__content-wrapper -> grid__title
    field -> grid__items
    field__line -> grid__item
    field__wrapper -> grid__box-item

    После переименования перенести стили сетки в отдельный файл
*/
.field__line {
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  padding: 0;
  margin-bottom: 18px;
}

.field__line:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 960px) {
  .field__line > .field__wrapper {
    margin-right: 12px;
  }
  .field__line > .field__wrapper:last-child {
    margin-right: 0;
  }
}

@media screen and (max-width: 767px) {
  .field {
    margin-bottom: 12px;
  }
  .field__line {
    margin-bottom: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .field__line > .field__wrapper {
    margin-bottom: 12px;
  }
  .field__line > .field__wrapper:last-child {
    margin: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 950px) {
  .field__line {
    margin: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    padding: 0 24px;
  }
}

@media screen and (min-width: 951px) and (max-width: 1140px) {
  .field__wrapper {
    width: 32%;
  }
}

@media screen and (max-width: 768px) {
  .field__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

/*Конец блока стилей компонента "Поле"*/
.card-slider__img {
  width: 100%;
  height: 155px !important;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.card-slider__img:focus {
  outline: none;
}

.sidebar__wrapper {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.sidebar__wrapper--temp {
  padding: 30px 0 5px 0;
}

.sidebar__wrapper--guest {
  padding: 20.44px 0 4.56px 0;
}

.sidebar__wrapper--range {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 30.44px 0 23px 0;
}

.sidebar__wrapper--estabilish {
  padding: 30px 0 16.56px 0;
}

.sidebar__wrapper--available {
  padding: 30.88px 0 16px 0;
}

.sidebar__wrapper--comfort {
  padding: 30px 0 4.56px 0;
}

.sidebar__dropdownbox--long {
  padding-top: 30px;
}

.sidebar__elembox {
  margin-bottom: 10.56px;
}

.sidebar__extendbox {
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) and (max-width: 950px) {
  .sidebar__merge {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.icon__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.icon__box {
  padding-right: 20px;
}

.icon__box:last-child {
  padding-right: 0;
}

.modal-body__form-self {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__wrapper-first-name {
  padding-top: 20px;
}

.form__wrapper-last-name {
  padding-top: 10px;
}

.form__select-gender {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10.44px;
  padding-bottom: 23.56px;
}

.form__wrapp-radio:first-child {
  width: 100px;
  margin-right: 20px;
}

.form__wrapp-radio:last-child {
  width: 70%;
}

.form__wrapper-label {
  padding-bottom: 5px;
}

.form__wrapper-title, .form__wrapper-pass, .form__wrapper-password, .form__getting-date {
  padding-bottom: 20px;
}

.form__wrapper-email {
  padding-bottom: 10px;
}

.form__wrapp-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__wrapp-btn-icon {
  position: absolute;
  right: 0;
  padding-right: 30px;
}

.form__wrapper-switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 24px;
}

.form__wrapper-descript {
  padding-left: 10px;
}

.form__wrapp-has-acc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
}

.form__wrapp-create-acc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
}

.my-radio__wrapper-text {
  margin-left: calc(18px + 10px);
}

/*Анимация модальных окон*/
.hidden {
  visibility: hidden !important;
  opacity: 0 !important;
  width: 0 !important;
  height: 0 !important;
}

.rise-modal {
  -webkit-transform: scale(1) !important;
          transform: scale(1) !important;
  -webkit-transition: -webkit-transform 0.5s ease-in-out !important;
  transition: -webkit-transform 0.5s ease-in-out !important;
  transition: transform 0.5s ease-in-out !important;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out !important;
}

.rise-dialog {
  -webkit-transform: scale(1) !important;
          transform: scale(1) !important;
  -webkit-transition: -webkit-transform 0.5s ease-in-out !important;
  transition: -webkit-transform 0.5s ease-in-out !important;
  transition: transform 0.5s ease-in-out !important;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out !important;
}

.share {
  cursor: pointer;
}
/*# sourceMappingURL=common.css.map */