.forward-item {
  color: rgba(31, 32, 65, 0.5);
  font-weight: normal;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 15px;
}

.forward-item--long {
  width: 245px;
  height: 48px;
  line-height: 22px;
}

.forward-item--last {
  color: transparent;
}

@media screen and (max-width: 767px) {
  .forward-item {
    font-size: 16px;
  }
  .forward-item--long {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 16px;
  }
}
