.rectangle {
  background: #fff;
  width: 100%;
  border-top: 1px solid rgba(31, 32, 65, 0.1);
  border-bottom: 1px solid rgba(31, 32, 65, 0.1);
  -webkit-box-shadow: 0 1px 0 rgba(31, 32, 65, 0.1);
          box-shadow: 0 1px 0 rgba(31, 32, 65, 0.1);
}
