.sign-up {
  width: 196px;
  height: 34px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #bc9cff), to(#8ba4f9));
  background: linear-gradient(180deg, #bc9cff 0, #8ba4f9 100%);
  border-radius: 22px;
  border: none;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
}

.sign-up:focus {
  outline: none;
}
