.sign-in {
  width: 87px;
  height: 34px;
  background: #fff;
  border-radius: 22px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #bc9cff;
  border: 2px solid #bc9cff;
  text-transform: uppercase;
}

.sign-in:focus {
  outline: none;
}
